body {
  background-color: #f3f3ea;
  color: #654A11;
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100dvh;
}

.monogram {
  display: flex;
  max-width: 16em;
  user-select: none;
  filter: drop-shadow(0 1px 0px #fff) drop-shadow(0 -1px 0px #0001);
}
